<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registration_number.css">
    <link rel="stylesheet" href="./css/simple-grid.css">
    <title>Registration_numbers project</title>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12 heading">

                    <h2><strong>Registration Numbers</strong></h2>
                </div>
                <form action="/reg_numbers" method="post">

                    <div class="col-12"> <span id="warning"></span></div>
                    <div class="row">
                        <div class="warning">{{messages.info}}</div>
                        <div class="col-12">
                            <div> <span class="text"> Please enter a registration number in this format: CA-123-45 and  CA
                                    123 456 </span>
                            </div>
                            <input type="text" class="regTextBox" size="45" value="{{registrations}}"
                                placeholder="e.g CL 123 456/ CL-123-456" name="registrations">
                            <button type="submit" class="regButton" name="button">Add</button>

                        </div>

                    </div>
                </form>
                <form action="/filter" method="post">
                    <div class="col-12">
                        <input type="radio" name="town" value="CA" id="">
                        <span>Cape Town</span>
                        <input type="radio" name="town" value="CL" id="">
                        <span>Stellenbosch</span>
                        <input type="radio" name="town" value="CN" id="">
                        <span>Wellington</span>
                        <input type="radio" name="town" value="C" id="">
                        <span>All</span>

                        <button type="submit">Show</button>

                    </div>
                </form>

                <div class="col-8">
                    <form action="/reset" method="post">
                        <button type="submit">Reset</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="display ">
            {{#each display}}
            <span class="results">{{this.reg_number}}</span>

            {{/each}}

        </div>


    </div>



</body>





</html>